Pandas Dataframe is 2D tabular data structure

In [1]:
from sklearn.datasets import load_boston

In [48]:
bostson_datasets = load_boston()

E:\anaconda\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [49]:
# print(bostson_datasets)

In [4]:
import pandas as pd

In [5]:
diabetes_df = pd.read_csv('F:/PY-ML-and-DS/Python/num-py/dbt.csv')

In [6]:
diabetes_df.shape

(768, 9)

In [7]:
type(diabetes_df)

pandas.core.frame.DataFrame

In [8]:
diabetes_df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [9]:
import numpy as np

In [10]:
# creating random DataFrame 

random_df = pd.DataFrame(np.random.rand(20,10))

In [11]:
random_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.448504,0.973108,0.769507,0.793904,0.986499,0.906434,0.486403,0.343382,0.628057,0.222169
1,0.041980,0.356211,0.598981,0.233795,0.089422,0.649159,0.955110,0.241654,0.582896,0.618027
2,0.586419,0.270707,0.713676,0.358193,0.002473,0.649133,0.493956,0.892540,0.136173,0.438911
3,0.846735,0.062436,0.915681,0.133552,0.312955,0.189460,0.452865,0.576352,0.080338,0.302072
4,0.623259,0.346492,0.671936,0.392355,0.092757,0.966567,0.706957,0.150119,0.012305,0.025681

In [12]:
random_df.shape

(20, 10)

In [13]:
# print first 5 rows 
diabetes_df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [14]:
# print last 5 rows 
diabetes_df.tail(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [15]:
# print info 
diabetes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [16]:
# no null means there is no missing values

In [17]:
# find the no of missing values 
diabetes_df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [18]:
# counting the value based on the outcome

In [ ]:
 
# diabetes_df.value_counts('SkinThickness')
diabetes_df.value_counts('Outcome')

Outcome
0    500
1    268
dtype: int64

In [20]:
# group the values based on the means 
# here in the outcome there is 0 and 1 only the output . as it is based on 0 and 1 mean the difference the mean
diabetes_df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

# staistical count

In [21]:
diabetes_df.count()

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

In [22]:
diabetes_df.mean()

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [23]:
# standard diviation
diabetes_df.std()

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [24]:
# minvalue for each column 
diabetes_df.min()

Pregnancies                  0.000
Glucose                      0.000
BloodPressure                0.000
SkinThickness                0.000
Insulin                      0.000
BMI                          0.000
DiabetesPedigreeFunction     0.078
Age                         21.000
Outcome                      0.000
dtype: float64

In [25]:
diabetes_df.max()

Pregnancies                  17.00
Glucose                     199.00
BloodPressure               122.00
SkinThickness                99.00
Insulin                     846.00
BMI                          67.10
DiabetesPedigreeFunction      2.42
Age                          81.00
Outcome                       1.00
dtype: float64

In [26]:
# for all in one method 
diabetes_df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

#  Data Frame Manipulating

In [27]:
newData = pd.DataFrame(np.random.rand(10,5))

In [28]:
newData.describe()

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.472121   0.389824   0.451398   0.414877   0.438388
std     0.273372   0.291869   0.172979   0.319056   0.256194
min     0.087701   0.106224   0.158012   0.000874   0.007871
25%     0.247838   0.163934   0.344500   0.166051   0.351194
50%     0.480222   0.307781   0.515075   0.415347   0.422106
75%     0.587643   0.479751   0.591387   0.525044   0.515807
max     0.963526   0.967973   0.623930   0.934825   0.864394

In [29]:
newData.columns = ['a','b','c','d','e']

In [30]:
newData

          a         b         c         d         e
0  0.165892  0.197865  0.622217  0.157664  0.007871
1  0.574200  0.967973  0.158012  0.352536  0.138215
2  0.184845  0.121092  0.610722  0.478159  0.518809
3  0.592124  0.152624  0.512411  0.191213  0.407590
4  0.087701  0.787808  0.195313  0.487080  0.769297
5  0.755660  0.318877  0.623930  0.000874  0.436622
6  0.495009  0.296685  0.421386  0.108103  0.864394
7  0.963526  0.464131  0.533382  0.537699  0.399026
8  0.436817  0.484958  0.318871  0.900614  0.335250
9  0.465435  0.106224  0.517739  0.934825  0.506802

In [31]:
# there I want to add another column 
dataAdd = pd.DataFrame(np.random.rand(15,1))

In [32]:
dataAdd

           0
0   0.424627
1   0.178344
2   0.308505
3   0.364024
4   0.189697
5   0.736191
6   0.290097
7   0.096562
8   0.083315
9   0.601631
10  0.750693
11  0.421426
12  0.508962
13  0.149446
14  0.274976

 Insert new data cell

In [33]:
newData['f'] = dataAdd

In [34]:
newData

          a         b         c         d         e         f
0  0.165892  0.197865  0.622217  0.157664  0.007871  0.424627
1  0.574200  0.967973  0.158012  0.352536  0.138215  0.178344
2  0.184845  0.121092  0.610722  0.478159  0.518809  0.308505
3  0.592124  0.152624  0.512411  0.191213  0.407590  0.364024
4  0.087701  0.787808  0.195313  0.487080  0.769297  0.189697
5  0.755660  0.318877  0.623930  0.000874  0.436622  0.736191
6  0.495009  0.296685  0.421386  0.108103  0.864394  0.290097
7  0.963526  0.464131  0.533382  0.537699  0.399026  0.096562
8  0.436817  0.484958  0.318871  0.900614  0.335250  0.083315
9  0.465435  0.106224  0.517739  0.934825  0.506802  0.601631

### Removing a row

In [35]:
newData.drop(9)

          a         b         c         d         e         f
0  0.165892  0.197865  0.622217  0.157664  0.007871  0.424627
1  0.574200  0.967973  0.158012  0.352536  0.138215  0.178344
2  0.184845  0.121092  0.610722  0.478159  0.518809  0.308505
3  0.592124  0.152624  0.512411  0.191213  0.407590  0.364024
4  0.087701  0.787808  0.195313  0.487080  0.769297  0.189697
5  0.755660  0.318877  0.623930  0.000874  0.436622  0.736191
6  0.495009  0.296685  0.421386  0.108103  0.864394  0.290097
7  0.963526  0.464131  0.533382  0.537699  0.399026  0.096562
8  0.436817  0.484958  0.318871  0.900614  0.335250  0.083315

In [36]:
# if you remove the row the Axis value is axis = 0 , where it is 1 for column

In [40]:
newData.drop('d',axis=1)

          a         b         c         e         f
0  0.165892  0.197865  0.622217  0.007871  0.424627
1  0.574200  0.967973  0.158012  0.138215  0.178344
2  0.184845  0.121092  0.610722  0.518809  0.308505
3  0.592124  0.152624  0.512411  0.407590  0.364024
4  0.087701  0.787808  0.195313  0.769297  0.189697
5  0.755660  0.318877  0.623930  0.436622  0.736191
6  0.495009  0.296685  0.421386  0.864394  0.290097
7  0.963526  0.464131  0.533382  0.399026  0.096562
8  0.436817  0.484958  0.318871  0.335250  0.083315
9  0.465435  0.106224  0.517739  0.506802  0.601631

## Look at specific rows

In [41]:
newData.iloc[3]

a    0.592124
b    0.152624
c    0.512411
d    0.191213
e    0.407590
f    0.364024
Name: 3, dtype: float64

# specific columns

In [44]:
print(newData.iloc[:,0])
print(newData.iloc[:,1])
print(newData.iloc[:,3])
print(newData.iloc[:,-1])

0    0.165892
1    0.574200
2    0.184845
3    0.592124
4    0.087701
5    0.755660
6    0.495009
7    0.963526
8    0.436817
9    0.465435
Name: a, dtype: float64
0    0.197865
1    0.967973
2    0.121092
3    0.152624
4    0.787808
5    0.318877
6    0.296685
7    0.464131
8    0.484958
9    0.106224
Name: b, dtype: float64
0    0.157664
1    0.352536
2    0.478159
3    0.191213
4    0.487080
5    0.000874
6    0.108103
7    0.537699
8    0.900614
9    0.934825
Name: d, dtype: float64
0    0.424627
1    0.178344
2    0.308505
3    0.364024
4    0.189697
5    0.736191
6    0.290097
7    0.096562
8    0.083315
9    0.601631
Name: f, dtype: float64

# Coralation 
there are 2 types corrrelation 
<br> positive 
<br> negative
if data increase the target values increase 
if data decrease the data fall

In [45]:
newData.corr()

          a         b         c         d         e         f
a  1.000000  0.036690  0.165637 -0.108346 -0.094746  0.049907
b  0.036690  1.000000 -0.872373  0.052428 -0.067171 -0.548174
c  0.165637 -0.872373  1.000000 -0.261185 -0.143892  0.596959
d -0.108346  0.052428 -0.261185  1.000000  0.021750 -0.322140
e -0.094746 -0.067171 -0.143892  0.021750  1.000000 -0.018152
f  0.049907 -0.548174  0.596959 -0.322140 -0.018152  1.000000

In [47]:
diabetes_df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000