# String Slice 

- [ start : stop : step ]

In [6]:
str1 = 'sakib al hasan'

In [10]:
len(str1)

14

In [12]:
# i wanna see those later whose position start from 2 and the step size 2 
print(str1[1:14:2])

ai lhsn

In [14]:
# from start to end but the step size is 3 
str1[::3]

'siaha'

## string reverse

In [15]:

str1[::-1]

'nasah la bikas'

### more operations about [ start : end : step ]

In [26]:
#'sakib al hasan'
str1[-1::]

'n'

In [27]:
#'sakib al hasan'
str1[-2::]

'an'

In [28]:
#'sakib al hasan'
str1[-3::]

'san'

In [29]:
#'sakib al hasan'
str1[:-1:]

'sakib al hasa'

In [30]:
#'sakib al hasan'
str1[:-2:]
# the output remove the last 2 latter 'an' cause inside is -2

'sakib al has'

 ####  You should only write one line of code for print one charecter from the word. Do not assign a variable name to the string.

In [34]:
'sajjad'[3]

'j'

In [35]:
'bangladesh'[9]

'h'

# String : Immuteable 

- immuteable means after assign it can not change directtly

In [36]:
name = 'sajjad'

In [38]:
# if i wanna change s to k it gives errors 
# name[0]='k'

In [39]:
# i can do this CONCATANATION way

# concatanation

In [40]:
last_laters = name[1:]
name_with_k = 'K'+last_laters

In [41]:
name_with_k

'Kajjad'

## more about concatanation

- the difference between : ` string_variable name + 'something add '`
- ` string_variable name = string_variable name + 'something add '  `
-
-
- the first case it can not change after multiple times run 
- the second one change the value each run

In [42]:
data = 'is no 1 all rounder in the world'

In [45]:
'sakib al hasan'+data

'sakib al hasanis no 1 all rounder in the world'

In [52]:
data = 'sakib al hasan ' + data
data

'sakib al hasan sakib al hasan sakib al hasan sakib al hasan sakib al hasan sakib al hasan sakib al hasan is no 1 all rounder in the world'

## String More operations

In [53]:
name = 'sakib'

In [54]:
# for upper case 

name.upper()

'SAKIB'

In [56]:
# string split , nothing pass consider the value is space 

name.split()

['sakib']

In [60]:
# lests assume another one , a random taking things . i wanna split based on 'i'

name = 'jki dfdisd sdfsidfsfi asdfsidsasdf'

name.split('i')

# in the output we will see the i is missing cause it split in the based on 'i' later

['jk', ' dfd', 'sd sdfs', 'dfsf', ' asdfs', 'dsasdf']

In [61]:
# video end 17 nb